*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.logo {
    height: 40px;
    width: auto;
}
.cabecalho{
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu{
    display: flex;
    gap: 10px;
}

.menu a{
 text-decoration: none;
 color: black;
}

.final{
    display: flex;
    align-items: center;
    gap: 10px;
}